/********************************/
/*POP UP*/
/********************************/
#c {
    /*position: relative;*/
    margin-top: 10px;
    border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 24px 24px 0px 0px;
    -webkit-border-radius: 24px 24px 0px 0px;
    border: 0px solid #000000;
}

#play_button{
    visibility: hidden;
    position: absolute;
    z-index: 3;
    top: 25%;
}

#subsVideo{
    position: absolute;
    z-index: 3;
    top: 63%;
    background-color: #1e1e1e;
    opacity:  0.9;
    color: white;
    font-size: 17px;
    text-align: center;
}

#divChapters{    
    visibility: hidden;
    position: relative;
    z-index: 2;
}

#divBlack {
    position: fixed;
    top: 0px; 
    height:100vh; 
    width: 100vw; 
    background-color: black;
    opacity: 0.4; 
    filter: alpha(opacity=40);
    visibility: hidden;
    z-index: 1;
}

#divCassette{
    position: relative;
    visibility: hidden;
    z-index: 2;
    background-color: transparent;
}

#divInfoRight{
    position: relative;
    visibility: hidden;
    z-index: 2;
    background-color: rgba(233, 233, 235, 0.9);
    border-radius: 10px;

}

#divScreenshot{
    position: relative;
    visibility: hidden;
    z-index: 2;
    background-color: rgba(139, 57, 46, 0.9);
    border-radius: 10px;
}

#divGroup{
    margin-top: -100%;
}

#divVideoPlayer{
    position: relative;
    background-image:  url(../images/cs_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 45em;
}

@media screen and (max-width: 1200px) {
    #divVideoPlayer{        
        height: 30em;  
    }
}

@media screen and (max-width: 800px) {
    #divVideoPlayer{        
        /*height: 60em;  */
    }
}

@media screen and (max-width: 700px) {
    #divVideoPlayer{        
        /*height: 60em;  */
    }
}

@media screen and (max-width: 650px) {
    #divVideoPlayer{        
        /*height: 60em;  */
    }
}

@media screen and (max-width: 480px) {
    #divVideoPlayer{        
        height: 25em;  
    }
}

@media screen and (max-width: 400px) {
    #divVideoPlayer{        
        height: 15em;  
    }
}


#myVideo{  
    display: none;
    margin-top: 10px;
    border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 24px 24px 0px 0px;
    -webkit-border-radius: 24px 24px 0px 0px;
    border: 0px solid #000000;
}

#subs_skakira{
    z-index: 1000;
}

#myVideoControls{

}

/********************************/
/*INFO VIDEO*/
/********************************/
.imgCover-size{
    height: 100px;
    width: 100px;
}
/********************************/
/*PROGRESS BAR*/
/********************************/

/* control top part */
.topControl{
    height:17px;
    padding:1px 5px;
    background-color: transparent;
}
/* Progress bar */
.progress {
    width:85%;
    height:16px;
    position:relative;
    float:left;
    cursor:pointer;
    background: #444; /* fallback */
    background:-moz-linear-gradient(top,#666,#333);
    background:-webkit-linear-gradient(top,#666,#333);
    background:-o-linear-gradient(top,#666,#333);
    box-shadow:0 2px 3px #333 inset;
    -moz-box-shadow:0 2px 3px #333 inset;
    -webkit-box-shadow:0 2px 3px #333 inset;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.progress span {
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:block;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.timeBar{
    z-index:10;
    width:0;
    background: #3FB7FC; /* fallback */
    background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
    background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
    background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
    box-shadow:0 0 1px #fff;
    -moz-box-shadow:0 0 1px #fff;
    -webkit-box-shadow:0 0 1px #fff;
}
.bufferBar{
    z-index:5;
    width:0;
    background: #777;
    background:-moz-linear-gradient(top,#999,#666);
    background:-webkit-linear-gradient(top,#999,#666);
    background:-o-linear-gradient(top,#999,#666);
    box-shadow:2px 0 5px #333;
    -moz-box-shadow:2px 0 5px #333;
    -webkit-box-shadow:2px 0 5px #333;
}
/* time and duration */
.time{
    width:15%;
    float:right;
    text-align:center;
    font-size:11px;
    line-height:12px;
}
