body {
    background: white;
}

#c {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#v {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
}